* {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rampart One', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    padding: 0 100px;
    border-bottom: 1px solid gray;
}

    .header-left {
        width: 70%;
        height: 100%;
        line-height: 80px;
    }

        .header-title {
            font-size: 36px;
            font-weight: 600;
        }

    .header-right {
        width: 30%;
        height: 100%;
        margin: 0 auto;
        text-align: right;
    }

        .log-out {
            display: inline-block;
            line-height: 80px;
            color: black;
            font-size: 16px;
            text-decoration: none;
        }

        .log-out:hover {
            text-shadow: 2px 2px 2px gray;
        }