.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 20;
}

    .room-create-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FEFEFE;
        width: 30%;
        height: 140px;
        border-radius: 10px;
    }

        .room-create-form {
            padding: 15px 30px 10px;
        }

            .modal-top {
                padding-bottom: 15px;
                text-align: center;
            }

                .modal-top-text {
                    font-size: 18px;
                    font-weight: bold;
                }

            .modal-form {
                width: 100%;
            }

                .room-name-form {
                    width: 100%;
                    height: 36px;
                    padding: 5px;
                    text-align: center;
                }

            .modal-bottom {
                text-align: center;
            }

                .room-create-btn {
                    background-color: black;
                    width: 100px;
                    padding: 5px 0;
                    border: none;
                    color: white;
                }