    .header-texts {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        line-height: 80px;
    }

    .language {
        position: relative;
        top: -100%;
        left: 55%;
    }