* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    padding: 0 50px;
    border-bottom: 1px solid gray;
}

    .header-left {
        width: 70%;
        height: 100%;
        line-height: 80px;
    }

        .header-title {
            font-family: 'Crimson Text', serif;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-family: 'Noto Sans JP', sans-serif;
            font-family: 'Oswald', sans-serif;
            font-family: 'Rampart One', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Space Grotesk', sans-serif;
            font-family: 'Teko', sans-serif;
            font-family: 'Work Sans', sans-serif;
            font-size: 36px;
            font-weight: 600;
        }

    .header-right {
        width: 30%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        
    }

        .header-right ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .log-in {
                line-height: 80px;
                color: black;
                font-size: 16px;
                text-decoration: none;
            }

            .sign-up {
                color: black;
                font-size: 16px;
                text-decoration: none;
            }

            .log-out {
                color: black;
                font-size: 16px;
                text-decoration: none;
            }