.show-container {
    width: 80%;
    margin: 0 auto;
}

    .room-top {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 30px;
    }

        .room-name {
            font-size: 18px;
            font-weight: bold;
        }

        .back-btn {
            color: black;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
        }

        .back-btn:hover {
            text-shadow: 2px 2px 2px gray;
        }

    .member-area {
        margin-bottom: 80px;
    }

        .member-area-top {
            text-align: center;
        }

            .member-area-text {
                font-size: 24px;
                font-weight: bold;
            }

        .member-main {
            margin-top: 30px;
        }

            .member-lists {
                display: flex;
                justify-content: center;
                overflow: scroll;
            }

                .member {
                    margin: 0 20px;
                    padding: 5px 15px;
                }

                    .member-name {
                        margin-bottom: 10px;
                        text-align: center;
                        font-size: 18px;
                    }

                    .member-result {
                        padding: 5px 20px;
                        border: 1px solid gray;
                    }

                        .member-money {
                            text-align: center;
                            font-size: 18px;
                        }

                        .member-fraction {
                            text-align: right;
                            font-size: 18px;
                        }

        .member-create-area {
            margin-top: 30px;
            text-align: center;
        }

            .member-create-link {
                background-color: black;
                padding: 5px 10px;
                color: white;
                font-size: 18px;
                text-decoration: none;
            }

            .member-create-link:hover {
                box-shadow: 0 0 10px #424242;
            }

    .show-main {
        display: flex;
        justify-content: space-around;
    }

        .calculator-area {
            width: 362px;
            border: 1px solid black;
        }

            .display {
                background-color: black;
                width: 100%;
                height: 70px;
                padding: 0 10px;
                border: none;
                border-bottom: 1px solid black;
                text-align: right;
                color: white;
                font-size: 24px;
                font-weight: bold;
            }

            .buttons {
                display: flex;
                flex-wrap: wrap;
            }

                .btn-C {
                    background-color: black;
                    width: 270px;
                    border: 1px solid white;
                    border-radius: 0;
                    color: white;
                    font-size: 18px;
                }

                .btn-C:hover {
                    background-color: gray;
                }

                .btn {
                    background-color: black;
                    width: 90px;
                    height: 70px;
                    border: 1px solid white;
                    border-radius: 0;
                    color: white;
                    font-size: 18px;
                }

                .btn:hover {
                    background-color: gray;
                }

        .warikan-area {
        }

            .share-area {
                margin-bottom: 20px;
            }

                .share-inputs {
                    margin-bottom: 50px;
                }

                    .share-text {
                        font-size: 20px;
                    }

                    .share-input {
                        width: 200px;
                        border: none;
                        border-bottom: 1px solid black;
                        text-align: right;
                        font-size: 24px;
                    }

                    .fair-share {
                        background-color: black;
                        margin-left: 50px;
                        padding: 0px 10px;
                        border: none;
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .fair-share:hover {
                        box-shadow: 0 0 12px #424242;
                    }
