.session-main {
    width: 100vw;
}

    .session-container {
        width: 20%;
        margin: 50px auto;
    }

        .session-top {
            text-align: center;
            margin-bottom: 30px;
        }

            .session-top h1 {
                font-weight: normal;
            }

        .form-group {
            width: 100%;
            margin-bottom: 20px;
        }

            .form-text-wrap {
                margin-bottom: 5px;
            }

                .form-text {
                    font-size: 18px;
                }

            .input-default {
                width: 100%;
                padding: 5px;
            }

            .info-text {
                font-size: 13px;
            }

        .account-login {
            width: 60%;
            margin: 50px auto 0;
        }

            .account-login-btn {
                background-color: black;
                width: 100%;
                height: 40px;
                border: none;
                color: white;
            }

        .sign-up-link {
            margin-top: 20px;
            text-align: center;
        }

            .sign-up-link-text {
                font-size: 16px;
            }

                .sign-up {
                    color: black;
                    font-size: 18px;
                    font-weight: bold;
                }